<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fun</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%# Apline JS %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.1/dist/alpine.js") %>"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="flex justify-between bg-gray-200">
        <%# Sidebar Toggler %>
        <div class="w-10 h-10">
          <img class="w-8 h-8" src="<%= Routes.static_path(@conn, "/icons/zondicons/menu.svg") %>" />
        </div>
        <%# Home Page Link %>
        <a href="#" class="text-white text-lg font-medium m-8">
          WebOffice
        </a>
        <%# Navigation %>
        <nav role="navigation">
          <ul>
            
          <img class="w-8 h-8" src="<%= Routes.static_path(@conn, "/icons/zondicons/user-solid-circle.svg") %>" />
          </ul>
        </nav>
        
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
