<h1>Edit Resource sub type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.resource_sub_type_path(@conn, :update, @resource_sub_type)) %>

<span><%= link "Back", to: Routes.resource_sub_type_path(@conn, :index) %></span>
